/*pagina de estilos*/

*{
    border: 1px dotted tomato;
}

body {
    margin: 0 auto;
    max-width: 1000px;
    font-family: "Helvetica", "Arial", sans-serif;
    line-height: 1.5;
    padding: 10px 20px;
    border: 1px solid black;
    color : #555 ;
  }

  div.cabecera > div{
    display: inline-block;
    margin: 0px;
    background-color: rgb(0, 255, 145);
    width: 694px;
    height: 500 px;
  }

  figure{
    display: inline-block;
   background-color: rgb(43, 180, 226);
    margin: 0px;
    padding: 0px;
    text-align: center;
    width: 300px;
  }