/*pagina de estilos*/

*{
    border: 1px dotted tomato;
}

body {
    margin: 0 auto;
    max-width: 1000px;
    font-family: "Helvetica", "Arial", sans-serif;
    line-height: 1.5;
    padding: 10px 20px;
    border: 1px solid black;
    color : black ;
  }

  div.cabecera{
    margin: 0px;
    background-color:#2878AB
  }

  div.cabecera > div{
    display: inline-block;
    margin: 0px;
    width: 694px;
    height: 500 px;
  }

  div.cabecera hr{
    background-color: white;
    height: 1px;
  }

  div.cabecera figure{
    display: inline-block;
    margin: 0px;
    padding: 0px;
    text-align: center;
    width: 300px;
  }

  header > h1,h2{
    color: white;
    padding: 10px;
    margin: 5px;
  }

  nav > ul{
    display: inline-block;
    color: white;
    list-style-type: square;
    list-style-position: inside;
    width: 300px;
  }